.Footer{
    width: 100%;
    padding: 1.5rem 1rem;
   
    background-color: rgb(23, 23, 23);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer_top{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 5;

   justify-content: space-between;

}

.fotter_top_blog1{
    flex-grow: 1.5;
    display: flex;
    flex-direction:row;
    align-items: center;

    .footer_first{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        flex-grow: 1;
        .logo_f{
            a{
            
                text-align: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                text-decoration: none;
                span{
                    color: #FCFCFC;
                    font-family: 'Aubrey', cursive;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-left: 9px;
            
            
            }
           
        }
        p{
            font-family: 'Aubrey', cursive;
            color: #FCFCFC;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.9px;
            padding-left: 2rem;
        }
        }
        .f_secend_bottom{
            p:first-child{
                color: #FCFCFC;
                font-family: "Roboto",sans-serif;
                margin-top: 25px;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.7px;
                margin-bottom: 6px;
            }
            p:last-child{
                color: #FCFCFC;
                font-family: "Roboto",sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.6px;
            }
        }
    }
    .footer_secend{
        display: flex;
        flex-direction: column;
        flex-grow: 5;
        .ul_f{
            display: flex;
            flex-direction: row;
            span{
                li{
                    position: relative;
                    a{
                        color: #FCFCFC;
                        font-family: "Roboto" , sans-serif;
                        text-decoration: none;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 1.2px;
                    }
                    
                }
                a:hover ~ i{
                    opacity: 1;
                    transform: scaleX(1);
                    bottom: -2px;

                }
                i{
                    transition: all 0.3s linear;
                    position: absolute;
                    bottom: -8px;
                    width: 100%;
                    height: 2px;
                    opacity: 0;
                    left:  0;
                    transform: scaleX(0.8);
                    background: #BD00FF;
                }
            }
        }
        .ul_f_fist{
         
            width: 100%;
            justify-content: center;
            align-items: center;
            span{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                width: 90%;
    
            }
        }
        .ul_f_secend{
         
            width: 100%;
            justify-content: center;
            margin-top: 40px;
            align-items: center;
            span{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                width: 90%;
    
            }
        }
        
    }
   
}
.fotter_top_blog2{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    .fotter_links{
        display: flex;
        flex-direction: column;
        li{
            p{
                color: #FCFCFC;
                font-family: "Roboto",sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.2px;

            }
            a{
                color: #FCFCFC;
                font-family: "Roboto",sans-serif;   
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.9px;
                display: flex;
                flex-direction: row;
                text-decoration: none;
                align-items: center;
                svg{
                    width: 25px;
                    height: 25px;
                    color: white;
                    margin-right: 15px;
                }
            }
            margin-bottom:15px;
            
        }
    }   
}

.footer_bottom_f{
    margin-top: 18px;
    flex-grow: 1;
    position: relative;
    .fT_line{
        width: 100%;
        background-color: rgb(36, 36, 36);
        border-radius: 8px;
        top: -5px;
        height: 4px;
        position: absolute;
    }
    p{
        margin-bottom: 5px;
        margin-top: 5px;
        color: #FCFCFC;
        font-family: "Aubrey", cursive;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
@media screen and (max-width: 960px){
    .footer_secend{
        display: none !important;
    }
  
}
@media screen and (max-width: 400px){
    .footer_top{
        display: flex !important;
        flex-direction: column !important;
    }
    .fotter_top_blog1{
        text-align: center;
    }
  
}