.Hero{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero_wrapper{
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 67px;
    margin-bottom: 50px;
}
.anime_hero{
    width: 350px;
    height: 200px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin: 5px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.2s linear;
        

    }
    .heroanime_texts{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
        z-index: 1;
        color: white;
        width: 100%;
        height: 100%;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.306);
        
    }
    &:hover img{
        transform: scale(1.1);
    }
    &:hover .heroanime_texts{
        backdrop-filter: blur(1px);
    }
}
.heroanime_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;


    span{
        font-family: "Roboto", sans-serif;
        font-size: 1.2rem;
        padding: 2px;
        border-radius: 5px;
        background-color: #BD00FF;
    }
}
.heroanime_name{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    align-items: flex-end;
    
    span{
        font-family: "Roboto", sans-serif;
        font-size: 1.2rem;
        margin-bottom: 1rem !important;
        display: block;
        
        
    }
}
.Viewmore{
    color: #FCFCFC;
    font-family: "Roboto",sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    background: transparent;
    border-radius: 5px;
    border: 3px solid #BD00FF;
    padding: 10px 30px;

    cursor: pointer;
    margin-bottom: 100px;
}
@media screen and (max-width: 787px) {
    .hero_wrapper{
        max-width: 1440px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap ;
        margin-top: 67px;
    }
}
.displaynonebutton{
    display: none;
}